#error-message {
    font-size: 0.9rem;
    font-family: var(--font-regular);
    height: 20px;
    width: 84%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-description-container,
.form-container {
    background-color: #FFEFD7;
}

.site-description-container {
    width: 506px;
    border-right: 1.5px solid #1C1611;
}


.form-container {
    width: 348px;
}


.image-container {
    width: 506px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFEFD7;
}


.text-description-container {
    width: 506px;
    height: 170px;
    background-color: #FFEFD7;
}


.section-button-container {
    width: 506px;
    height: 65px;
    background-color: #FFEFD7;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.name-container {
    padding: 0;
    margin: 0;
}

.name-container h2 {
    font-family: var(--font-medium);
    font-size: 20px;
    font-weight: 10;
    padding: 0;
    margin: 0;
    text-align: center;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-container  p {
    font-family: var(--font-regular);
    text-align: center;
    font-size: 0.9rem;
    width: 410px;
}

.circle-btn-1,
.circle-btn-2,
.circle-btn-3,
.circle-btn-4 {
    border-radius: 50%;
    background-color: #B0AEAE;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.current-circle-btn {
    border-radius: 50px;
    background-color: #696666;
    width: 35px;
    height: 12px;
    cursor: pointer
}

.account-creation-text {
    height: 120px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.account-creation-text a {
    color: black;
}

.title-sign {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.account-creation-text p {
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--font-regular);
    margin: 0.5rem;
}

.link {
    cursor: pointer;
}

.sign-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-inputs input {
    width: 84%;
    height: 55px;
    background-color: #FFEFD7;
    border: 1.5px solid #1C1611;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: var(--font-regular);
    color: #1C1611;
}

.show-password-container {
    margin-top: 4.5%;
    display: flex;
    width: 84%;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 51%;
}

.show-password-container img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.show-password-container span {
    font-family: var(--font-regular);
    font-size: 0.9rem;
    color: black;
}

#username {
    margin-top: 10%;
    margin-bottom: 20%;
}

.lets-go-btn-container {
    height: 100px;
    width: 100%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lets-go-btn-container button {
    width: 84%;
    height: 50px;
    border: None;
    background-color: #F6722F;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: var(--font-regular);
    font-weight: 700px;
}

.image-container .logo{
    width: 150px;
}


/*laptop small*/
@media screen and (max-width: 1280px) {
    .site-description-container{
        width: 490px;
        height: auto;
    }
    .image-container{
        width: 490px;
        height: 300px;
    }

    .image-container .logo{
        width: 150px;
        height: 150px;
    }

    .text-description-container{
        width: 490px;
        height: 140px;
    }

    .section-button-container{
        width: 490px;
        height: auto;
    }

    .form-container{
        display: flex;
        flex-direction: column;
    }
}

/* Tablet */
@media screen and (max-width: 930px){
    .site-description-container{
        width: auto;
        border: none;
    }
    .image-container{
        width: 390px;
    }

    .image-container .logo{
        width: 150px;
        height: 150px;
    }

    .text-description-container{
        width: 390px;
    }

    .description-container p {
        width: 90%;
    }

    .section-button-container{
        width: 390px;
    }

    .title-sign{
        font-size: 1.5rem;
    }
    .account-creation-text p {
        font-size: 0.8rem;
    }
    #username{
        margin-bottom: 15%;
    }
    .lets-go-btn-container{
        margin-top: 5%;
    }
}

/* MObile*/
@media screen and (max-width: 660px){
    .form-container{
        width: auto;
        padding: 0 0 25px 0;
    }

    .text-description-container{
        display: none;
    }

    .section-button-container{
        display: none;
    }

    

    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 150px;
        padding: 0 60px 0 60px;
    }

    .image-container .logo{
        width: 100px;
        height: 100px;
    }
}