.main-container {
    background-color: #FFEFD7;
    border: 1.5px solid #1C1611;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.main-container.small {
    width: 905px;
    height: 595px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-container.large {
    width: 1021px;
    height: 677px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* box-sizing: border-box; */
}


.side-bar-container {
    border-right: 1.5px solid #1C1611;
    box-shadow: 9px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.side-bar-container.small {
    width: 51px;
    height: 595px;
}

.side-bar-container.large {
    width: 70px;
    height: 676px;
    box-sizing: border-box;
}

.side-bar-container.large a {
    text-decoration: none;
    color: #1C1611;
}

.profile-bar-container {
    height: 60px;
    width: 100%;
    background-color: #F6D93C;
    border-bottom: 1.5px solid #1C1611;
    display: flex;
    gap: 19rem;
    box-sizing: border-box;
}

main {
    height: 676px;
    width: 100%;
}

.main-inner-container {
    width: 100%;
    height: 90.5%;
    padding: 3.2%;
    box-sizing: border-box;
}

.bottom-bar-container {
    border-top: 1.5px solid #1C1611;
    box-shadow: 0px -20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.bottom-bar-container.small{
    display: none;
}

.bottom-nav-bar-container{
    display: none;
}

/*laptop small*/
@media screen and (max-width: 1280px) {
    .main-container.small{
        height: 500px;
        width: 890px;
    }

    .side-bar-container.small{
        height: auto;
    }

    .side-bar-container.large{
        height: auto;
    }

    .main-container.large{
        width: auto;
        height: 525px;
    }
    main{
        height: auto;
    }

    main .main-inner-container{
        height: auto;
        padding: 2%;
    }
    .profile-bar-container{
        height: 50px;
        gap: 15.5rem;
    }
}

/*Tablet*/
@media screen and (max-width: 930px){
    .main-container.small{
        width: 650px;
    }

    .main-container.large{
        width: 650px;
    }
    .side-bar-container.large{
        width: 50px;
    }

    .profile-bar-container{
        gap: 8rem;
        width: 600px;
    }

    main .main-inner-container{
        width: auto;
    }

}

/*Mobile*/
@media screen and (max-width: 660px){
    .main-container.small{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .side-bar-container.small{
        display: none;
    }

    .bottom-nav-bar-container{
        display: flex;
        flex-direction: row;
        border-top:2px solid #1C1611;
    }

    .bottom-nav-bar-container.small a{
        text-decoration: none;
        color: #1C1611;
    }
    .side-bar-container.large{
        display: none;
    }

    .bottom-bar-container.small{
        height: 61px;
        width: 100%;
        display: block;
    }

    .main-container{
        border: none;
    }

    .main-container.large{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .main-container.large .side-bar-container.large{
        order: 2;
    }

    .profile-bar-container{
        background: none;
        width: auto;
    }

    main .main-inner-container {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    main {
        height: 100%;
    }
}
