@font-face {
    font-family: 'Roboto Mono Medium';
    src: url('../assets/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto Mono Regular';
    src: url('../assets/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
    font-weight: 400;
}

:root {
    --font-regular: 'IBM Plex Mono';
    --font-medium: 'IBM Plex Mono Medium';

    --font-num-regular: 'Roboto Mono Regular';
    --font-num-medium: 'Roboto Mono Medium';
}

body {
    background-color: #FFEFD7;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 0 auto;
    max-width: 1330px; */
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*laptop small*/
@media screen and (max-width: 1024px) {
    
}

/*Tablet*/
@media screen and (max-width: 930px){
    
}

/* MObile*/
@media screen and (max-width: 660px){

}